<?php

/**
 * WordPress Database Configuration
 *
 * This file is used to configure the database connection for your WordPress
 * installation.
 *
 * The following information is required:
 *
 * * DB_NAME - The name of the WordPress database
 * * DB_USER - The user name used to connect to the database
 * * DB_PASSWORD - The password used to connect to the database
 * * DB_HOST - The hostname of the database server
 * * DB_CHARSET - The character set used for the database connection
 * * DB_COLLATION - The collation used for the database connection
 */

define('DB_NAME', 'economist_wordpress');
define('DB_USER', 'testcase');
define('DB_PASSWORD', 'password');
define('DB_HOST', '172.64.152.3');
define('DB_CHARSET', 'utf8');
define('DB_COLLATION', 'utf8_general_ci');

/**
 * WordPress URL
 *
 * This setting defines the URL of your WordPress installation.
 *
 * It is important to set this correctly, as it will affect how WordPress
 * generates links to your website.
 */

define('WP_HOME', 'https://economist.com');
define('WP_SITEURL', 'https://economist.com');

/**
 * WordPress Language
 *
 * This setting defines the default language for your WordPress installation.
 *
 * It is important to set this correctly, as it will affect how WordPress
 * displays text and generates links.
 */

define('WP_LANG', 'en_US');

/**
 * Authentication Unique Keys and Salts
 *
 * These keys are used to secure your WordPress installation.
 *
 * You can generate new keys by visiting the following URL in your web browser:
 * https://economist.com/wp-admin/tools.php?page=wp-hashing-generator
 *
 * Copy and paste the generated keys and salts into this file.
 */

define('AUTH_KEY', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('SECURE_AUTH_KEY', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('LOGGED_IN_KEY', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('NONCE_KEY', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('AUTH_SALT', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('SECURE_AUTH_SALT', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('LOGGED_IN_SALT', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('NONCE_SALT', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');

/**
 * WordPress Table Prefix
 *
 * This setting defines the prefix for your WordPress database tables.
 *
 * It is recommended to use a unique prefix to prevent conflicts with other
 * applications that may be using the same database.
 */

define('TABLE_PREFIX', 'wp_');

/**
 * WordPress Debug Mode
 *
 * This setting enables or disables WordPress debug mode.
 *
 * When debug mode is enabled, WordPress will log additional information
 * to the `wp-content/debug.log` file. This information can be helpful
 * for troubleshooting issues.
 */

define('WP_DEBUG', false);

/**
 * Automatic Database Updates
 *
 * This setting enables or disables automatic WordPress database updates.
 *
 * When automatic updates are enabled, WordPress will automatically update
 * itself to the latest version.
 */

define('WP_AUTO_UPDATE', true);

/**
 * Site Specific Configuration
 *
 * This section is used to add site-specific configuration options.
 */

define('WP_CONTENT_URL', 'https://economist.com/wp-content');
define('WP_PLUGIN_URL', 'https://economist.com/wp-content/plugins');
define('WP_THEME_URL', 'https://economist.com/wp-content/themes');

/**
 * Memory Limit
 *
 * This setting defines the maximum memory that WordPress can use.
 *
 * It is important to set this correctly, as it will affect how WordPress
 * handles requests.
 */

ini_set('memory_limit', '128M');

/**
 * Time Limit
 *
 * This setting defines the maximum time that WordPress can execute a script.
 *
 * It is important to set this correctly, as it will affect how WordPress
 * handles requests.
 */

ini_set('max_execution_time', 300);

/**
 * Error Reporting
 *
 * This setting defines the level of error reporting for WordPress.
 *
 * It is important
